* {
    box-sizing: border-box; /* Applies to all elements */
}
body{
  padding:0;
  background-color: black;
}
.content-header{
    display:none;
}
.page-content{
  margin:0;
}
.layout-container{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.hero-banner{
  background-image: url("Images/Banner.png");
  background-size: cover; /* This makes the background image cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  width: 100%;
  height: 600px;
  position: relative; /* Positioning context for content */
  padding-top: 10px;
  display: grid;
  color: white;
  text-align: center;
}
.theme_logo {
  width: 20%;
  float: left;
}

.main-nav {
    width: 70%; /* Width of the right div */
    float: right
}
.main-nav ul {
    display: flex; /* Enable flexbox layout */
    list-style-type: none; /* Remove default list styling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
.main-nav li {
    margin: 0 15px; /* Spacing between menu items */
}
.main-nav li a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    padding: 14px 20px; /* Add padding for clickable area */
    display: block; /* Make the entire area clickable */
}
.main-nav li a:hover {
    background-color: #575757; /* Change background on hover */
}
.main-nav li a.get-started {
    background-color: #adff33;
    color: black;
    padding: 6px;
    margin-top: 8px;
    border-radius: 4px;
}
.banner-txt h1{
   font-size:68px;
}
.banner-txt p.subhead{
   font-size: 11px;
   width: 308px;
   font-weight: 100;
   margin:0 auto;
}
.banner-txt h1 .light-green{
   color: #adff33;
}
.banner-txt .banner-cta {
    background-color: #adff33;
    margin-top: 8px;
    padding: 8px 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 32px;
}
.banner-txt .banner-cta a {
    text-decoration: none;
    color: black;
}
.trusted-companies{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top:20px;
}
.company-line-text{
  display: flex;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
}
.company-line-text .line {
   flex-grow: 1;
   border: none; /* Remove default border */
   height: 1px; /* Line thickness */
   background-color: #adff33; /* Line color */
   flex: 0 0 5%;
   margin: 0 10px; /* Space between lines and text */
}
.company-line-text .companies-title {
   padding: 0 10px; /* Space around text */
   white-space: nowrap; /* Prevents text wrapping */
   font-size: 12px;
}
.companies-type {
   background-color: rgb(48 44 44);
   border-radius: 6px;
}
.trusted-companies .companies-type ul{
   display: flex; /* Enable flexbox layout */
   list-style-type: none; /* Remove default list styling */
   margin: 0; /* Remove default margin */
   padding: 0; /* Remove default padding */
   justify-content:center;
}
.trusted-companies .companies-type li{
   margin: 0 38px; /* Spacing between menu items */
}
.trusted-companies .companies-type li a{
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    padding: 14px 20px; /* Add padding for clickable area */
    display: block; /* Make the entire area clickable */
}
.trusted-companies .companies-type li img{
   float:left;
   width:35px;
   height:35px;
   margin-top: 10px;
   margin-right: 15px;
}
.trusted-companies .companies-type li p{
   float:right;
}
.services{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin: 70px;
}
.services h3 {
  font-size: 30px;
  font-weight: 500;
} 
.services .services-subtitle{
  font-size: 12px;
}
.services-type {
   margin-top: 50px;
}
.services .services-type ul{
   display: flex; /* Enable flexbox layout */
   flex-wrap: wrap;
   list-style-type: none; /* Remove default list styling */
   margin: 0; /* Remove default margin */
   padding: 0; /* Remove default padding */
   justify-content:center;
}
.services .services-type ul li {
   margin: 15px; /* Spacing between menu items */
   background-color: #adff33;
   flex: 0 0 300px;
   border-radius: 10px;
}
.services .services-type ul li a{
    color: black; /* Link color */
    text-decoration: none; /* Remove underline from links */
    padding: 14px 20px; /* Add padding for clickable area */
    display: block; /* Make the entire area clickable */
    font-size: 15px;
    font-weight: 500;
    margin-top: 68px;
}
.services .services-type ul li a img{
    width:70px;
    height:65px;
}
.why-choose{
    background-color: rgb(48 44 44);
}
.why-choose-container{
    width:90%;
    margin: 0 auto;
    color: white;
    padding: 10px 0px 50px 0px;
}
.why-choose-line-text{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.why-choose-line-text .line {
   flex-grow: 1;
   border: none; /* Remove default border */
   height: 1px; /* Line thickness */
   border-top: 2px solid white;
   flex: 0 0 12%;
   margin: 4px 10px 0px 0px; /* Space between lines and text */
}
.why-choose-line-text .why-choose-title {
   padding: 0 10px; /* Space around text */
   white-space: nowrap; /* Prevents text wrapping */
   font-size: 30px;
   font-weight: 500;
}
.why-choose .why-choose-item .why-choose-card {
    display:flex;
    padding-top:50px;
}
.why-choose .why-choose-item .why-choose-card.left .why-choose-image{
  width: 50%;
  float: left;
}
.why-choose .why-choose-item .why-choose-card.left .why-choose-image img{
    width: 500px;
    height: 350px;
}
.why-choose .why-choose-item .why-choose-card.right .why-choose-image img{
    width: 500px;
    height: 340px;
    float:right;
}
.why-choose .why-choose-item .why-choose-card.left .why-choose-card-text{
  width: 50%;
  float: right;
}
.why-choose .why-choose-item .why-choose-card .why-choose-card-text h2{
    margin: 0;
    font-size: 45px;
}
.why-choose .why-choose-item .why-choose-card .why-choose-card-text p{
    width:295px;
}
.why-choose .why-choose-item .why-choose-card.left .why-choose-image{
  width: 50%;
  float: left;
}
.why-choose .why-choose-item .why-choose-card.left .why-choose-card-text{
  width: 50%;
  float: right;
}
.why-choose .why-choose-item .why-choose-card.right .why-choose-card-text{
  width: 50%;
  float: left;
}
.why-choose .why-choose-item .why-choose-card.right .why-choose-image{
  width: 50%;
  float: right;
}
.why-choose .why-choose-item .why-choose-card .cta {
    background-color: #adff33;
    padding: 8px 20px;
    border-radius: 10px;
    width: fit-content;
}
.why-choose .why-choose-item .why-choose-card .cta a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.about-us{
    padding-top: 40px;
}
.about-us .about-us-title {
    color: white;
    text-align: center;
}
.about-us .about-us-type {
   color: white;
   text-align: center;
}
.about-us .about-us-type ul{
   display: flex; /* Enable flexbox layout */
   list-style-type: none; /* Remove default list styling */
   justify-content:center;
}
.about-us .about-us-type li{
   list-style-type: none; /* Remove default list styling */
   margin: 50px 120px;
   justify-content:center;
}
.about-us .about-us-type li img{
   width: 100px;
   height: 100px;
}
.about-us .about-us-type li h3,.about-us .about-us-type li p{
   margin:0;
}
.testimonial {
   background-color:white;
   text-align: center;
   padding: 50px;
}
.testimonial .tag {
   font-size: 12px;
}
.testimonial h2 {
   font-size: 30px;
   width: 300px;
   margin: 0 auto;
}
.testimonial p.test-subhead {
   font-size: 10px;
   width: 260px;
   margin: 0 auto;
}
.testimonial-items-slider {
   margin: 40px;
}
.testimonial-item {
   display: flex;
   padding-left: 118px;
}
.testimonial-item .text-left {
   width: 50%;
   float: left;
   text-align: justify;
}
.testimonial-item .photo-right {
   width: 50%;
   float: left;
   display: flex;
   justify-content: center;
}
.testimonial-item .text-left .logo {
   width: 100px;
   margin-left: 10px;
}
.testimonial-item .text-left .logo img {
   width:100px;
   height:38px;
}
.testimonial-item .text-left p {
   font-size: 14px;
   margin: 0;
}
.testimonial-item .text-left h3 {
   font-size: 22px;
 }
.testimonial-item .text-left .name h4 {
   margin-bottom: 0;
}
.testimonial-item .photo-right img {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   object-fit: cover;
}
.testimonial-items-slider .fa-angle-left.slick-arrow {
    float: left;
    margin-right: 40px;
    margin-top: 120px;
}
.testimonial-items-slider .fa-angle-right.slick-arrow {
    float: right;
    margin-top: -242px;
}
.slick-list {
   width:90%;
    background-color: #fcfcfc;
    border: 2px solid #f3f6f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px !important;
    margin: 20px !important;
    border-radius: 20px;
}
.capabilities {
   text-align:center;
   padding: 100px 0px;
   width: 90%;
   margin: 0 auto;
}
.capabilities .capability-subhead {
   color: #adff33;
}
.capabilities h2 {
   color: white;
}
.capabilities .capability-types .capability-term {
    background-color: #adff33;
    display: inline-block;
    width: auto;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 4px;   
}
.capability-types {
   margin-top: 35px;
}
.benefits {
    width: 90%;
    margin: 0 auto;
}
.benefits .tag {
   color: #adff33;
   margin:0;
}
.benefits-head-left {
  width:50%;
  float:left;
  color:white;
}
.benefits-head-right {
  width:50%;
  float:left;
  width: 50%;
  float: left;
  color: #bfbdbd;
  font-size: 12px;
}
.benefits-head {
   display:flex;
}

.benefits-head-right .cta {
    background-color: #adff33;
    padding: 4px 10px;
    border-radius: 3px;
    width: fit-content;
}
.benefits-head-right .cta a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
}
.benefits-types {
   margin-top: 70px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: 10px;
}
.benefits-types .benfits-card {
  padding: 20px;
}
.benefits-types .benfits-card h4 {
   color:white;
   font-size:18px;
   margin:0;
}
.benefits-types .benfits-card p {
   color: #bfbdbd;
   font-size:12px;
   margin:10px;
}
/* Apply borders only to middle grid items (items 2, 4, 5, 6, and 8) */
.benefits-types .benfits-card:nth-child(1),
.benefits-types .benfits-card:nth-child(2),
.benefits-types .benfits-card:nth-child(4),
.benefits-types .benfits-card:nth-child(5),
.benefits-types .benfits-card:nth-child(7),
.benefits-types .benfits-card:nth-child(8) {
  border-right: 1px solid #343436;
}
.benefits-types .benfits-card:nth-child(1),
.benefits-types .benfits-card:nth-child(2),
.benefits-types .benfits-card:nth-child(3),
.benefits-types .benfits-card:nth-child(4),
.benefits-types .benfits-card:nth-child(5),
.benefits-types .benfits-card:nth-child(6) {
  border-bottom: 1px solid #343436;
}
.pricing {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.pricing .tag {
    color: #adff33;
    margin:0;
}
.pricing h2 {
    margin: 0;
    color: white;
}
.pricing .pricing-subtitle {
    color: #bfbdbd;
    width: 337px;
    margin: 12px auto;
    font-size: 12px;
}
.pricing .plans {
    display:flex;
    margin-top: 80px;
}
.pricing .plans .plan-card {
    border: 1px solid #2f3328;
    border-radius: 10px;
    background-color: #22251d;
    margin: 0px 10px;
    width: 100%;
    padding:10px;
}
.plan-head {
    display:flex;
    margin-left: 50px;
}
.pricing .plans .plan-card .plan-name {
    color:white;
}
.pricing .plans .plan-card .plan-type {
    margin: 15px 0px 0px 40px;
    background-color: #bfbdbd;
    padding: 2px 15px;
    font-size: 13px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 35px;
}
.pricing .plans .plan-card .plan-type.popular-plan {
    background-color: #adff33;
}
.pricing .plans .plan-card .plan-desc {
    color: white;
    font-size: 10px;
    width: 258px;
    margin: 0 auto;
    text-align: left;
}
.pricing .plans .plan-card .price {
    color:#adff33;
    font-size: 35px;
    text-align: left;
    margin-left: 50px;
}
.pricing .plans .plan-card .price-desc {
    margin: 0;
    color: white;
    font-size: 10px;
    text-align: left;
    margin-left: 50px;
}
.pricing .plans .plan-card hr.line {
    background-color: #adff33;
}
.pricing .plans .plan-card ul {
    color: white;
    text-align: left;s
    margin-left: 50px;
    list-style-image: url("Images/star-list.png");
    list-style-type: square;
    font-weight: 100;
}
.pricing .plans .plan-card .call_cta {
    border: 1px solid #adff33;
    padding: 8px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 25px;
}
.pricing .plans .plan-card .call_cta a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500; 
}
.pricing .plans .plan-card .buy_now_cta {
    background-color: #adff33;
    padding: 8px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 35px;
}
.pricing .plans .plan-card .buy_now_cta a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500; 
}
.block-views-blocknews-articles-block-1 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 15px;
}
.block-views-blocknews-articles-block-1 .view-header .news-head .tag {
    color: #adff33;
    margin:0;
}
.block-views-blocknews-articles-block-1 .view-header .news-head h2.news-title {
    margin: 0;
    color: white;
}
.block-views-blocknews-articles-block-1 .view-header .news-head .subtitle {
    color: #bfbdbd;
    width: 337px;
    margin: 12px auto;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 50px;    
}
.block-views-blocknews-articles-block-1 .view-content .field-content a {
    text-decoration:none;
}
.news-card {
    display: flex;
    border: 1px solid #2f3328;
    margin: 10px;
}
.news-card .news-img {
    margin-right: 10px;
}
.news-card .news-text {
    padding: 10px;
}
.news-card .news-text .tag {
    text-align:left;
    color: #adff33;
    margin:0;
}
.news-card .news-text .news-title {
    color: white;
    text-align: left;
    margin: 0;    
}
.news-card .news-text .news-description {
    color: white;
    text-align: left;
    font-size: 10px;    
}
.news-card .news-img {
    height: 176px;   
}
.news-card .news-img img {
   height: 175px;
   width: 250px; 
}
.news-article ul.js-pager__items li a.button {
    border: 1px solid #679919;
    background: transparent;
    color: #679919;
    border-radius: 10px;
}
.std-back {
    background-color: #adff33;
    position: relative;
    width: 100vw;
    height: 350px;
    text-align: center;
}
.std-back .stand-out {
    background-color: #22251d;
    width: 80%;
    position: absolute;
    margin: 150px 100px 0px 100px;
    border-radius: 20px;
    padding: 25px 25px 75px 25px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.std-back .stand-out h2.heading {
    color: white;
    font-size: 35px;
    width: 500px;
}
.std-back .stand-out .name-designation {
    color: white;
    margin: 0;
    font-size: 15px;
}
.std-back .stand-out .description {
    color: white;
    margin: 0;
    font-size: 12px;
}
.std-back .stand-out .cta {
    margin-top: 30px;
    background-color: #adff33;
    display: flex;
    border-radius: 6px;
    width: 150px;
    align-items: center;
}
.std-back .stand-out .cta p {
    margin:0;
    width: 700px;
}
.std-back .stand-out .cta a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.circle {
    background-image: url(Images/arrow.png);
    width: 100%;
    background-size: 330% 260%;
    padding: 2px;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(2);
    margin-top: 34px;    
}
.footer {
    width: 90%;
    margin: 0 auto;
    margin-top: 225px;
    margin-bottom: 40px;
}
.footer .footer-details {
    display:flex;
}
.footer .footer-details .about-company {
    width: 40%;
    margin-right: 20px;
    color: white;
    font-size: 14px;
}
.footer .footer-details .services-company {
    width:25%;
}
.footer .footer-details .services-company h3 {
    color: #adff33;
}
.footer .footer-details .services-company ul {
    list-style-type:none;
    color:white;
    font-size:14px;
}
.footer .footer-details .services-company ul li {
    margin-top:22px;
}
.footer .footer-details .location-company {
    width:25%;
}
.footer .footer-details .location-company h3 {
    color: #adff33;
}
.footer .footer-details .location-company ul {
    list-style-type:none;
    color:white;
    font-size:14px;
}
.footer .footer-details .location-company ul li {
    margin-top:22px;
}
.footer .footer-details .contactus-company {
    width:25%;
}
.footer .footer-details .contactus-company h3 {
    color: #adff33;
}
.footer .footer-details .contactus-company .contact-info {
    margin-top:80px;
}
.footer .footer-details .contactus-company .contact-info p {
    color:white;
}
.footer .footer-details .contactus-company .contact-info p img {
    width:20px;
}
.footer .footer-details .contactus-company .contact-info a {
    margin:10px;
}
.footer-second {
    display:flex;
}
.footer-second .footer-menu {
    width: 100%;
    float:left;
}
.footer-second .footer-menu a {
    text-decoration:none;
    color:white;
    margin:10px;
}
.footer-second .copyright {
    width:40%;
    float:right;
    color:white;
    font-size:14px;
}






